*{
    margin: 0;
    padding: 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding: 10px;
}

.buttons{
    margin: 0 20px;
}

.notiBtn{
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
.notiBtn img{
    width: 25px;
}

.profBtn{
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
.profBtn img{
    width: 40px;
}




.noticeBoard{
    height: 200px;
    border: 2px solid;
    border-radius: 10px;
    background: #ACA7A71C;
    padding: 10px;
    margin: 30px 0;
    font-size: 22px;
}
.noticeBoard h2{
    margin: 8px 0;
}



.dashBoardMain{
    display: flex;
}

.mainThesis{ 
    min-width: 55vw;
    height: 25vh;
    background: #669BBC66;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid;
    font-size: 25px;
}

.progress{
    min-width: 55vw;
    height: 25vh;
    background: #669BBC66;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid;
    font-size: 25px;
}



.Mentors{
    width: 22vw;
    background: #FDF0D5F5;
    padding: 10px;
    border-radius: 10px;
    margin: 7px 0;
    border: 1px solid;
    font-size: 25px;
}

.newTeach{
    display: flex;
    margin: 10px 0;
    padding: 10px 0;
}

.newTeach img{
    width: 40px;
    margin: 0 10px;
}