.container{
    background-color: #780000;
    min-height: 100vh;
}

.topSection{
    display: flex;
    justify-content: center;
}
.somaiyaLogo{
    width: 279px;
    margin: 20px;
}
.mainSection{
    min-height: 70vh;
}
.mainSection nav ul li{
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    list-style: none;
}
.mainSection nav ul li:hover{
    color: black;
    background-color: #FDF0D5;
    cursor: pointer;
}

.bottomSection{
    display: flex;
    justify-content: center;
}
.signOutBtn{
    width: 250px;
    margin: 20px;
    height: 46px;
    border: 2px solid white;
    background: #003049;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}
.signOutBtn:hover{
    background: #00273c;
}